## Handy tools for data scientists

## List of handy tools
{% for name, doc in documentation.items() %}
[{{ name }}](!https://github.com/Max1993Liu/dstools/blob/master/{{ doc.file }}#L{{ doc.lineno }}) `{{ doc.doc }}`
{% endfor %}